<%- include('../paritals/head.ejs') %>
<!--Write CODE HERE  -->
<title><%= title %></title>

<body class="bg-info">
    <div class="container">
        <div class="row my-5">

            <div class="col-md-6 offset-md-3  bg-white "
                style="border-radius: 10px;box-shadow: 2px 2px 10px 2px olive;">
                <h1 class="text-center">Fill Form</h1>
                <hr>
                <form action="/form" method="POST" autocomplete="off">
                    <div class="form-group my-2">
                        <input type="hidden" name="_id" id="" value="<% result._id %> ">
                        <label class="font-weight-bold">Full name</label>
                        <input type="text" class="form-control" name="fullname" value="<%= req.fullname %>"
                            placeholder="Enter your fullname" required>
                        <% if(error.fullname) { %>
                        <div class="text-danger ml-2 mt-2"><i class="fas fa-exclamation-triangle mr-2"></i>
                            <%= error.fullname.msg %> </div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Email</label>
                        <input class="form-control" name="email" value="<%= req.email %>" placeholder="Enter your email"
                            required>
                        <% if(error.email) { %>
                        <div class="text-danger ml-2 mt-2"><i class="fas fa-exclamation-triangle mr-2"></i>
                            <%= error.email.msg %> </div>
                        <% } %>

                    </div>
                    <div class="form-row ">
                        <div class="col-md-6">
                            <label class="font-weight-bold">Mobile</label>
                            <input type="text" class="form-control" value="<%= req.mobile %>"
                                placeholder="Enter your Number" name="mobile" required>
                            <% if(error.mobile) { %>
                            <div class="text-danger ml-2 mt-2"><i class="fas fa-exclamation-triangle mr-2"></i>
                                <%= error.mobile.msg %> </div>
                            <% } %>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="font-weight-bold">city</label>
                                <input type="text" class="form-control" value="<%= req.city %>"
                                    placeholder="Enter your city" name="city" required>
                                <% if(error.city) { %>
                                <div class="text-danger ml-2 mt-2"><i class="fas fa-exclamation-triangle mr-2"></i>
                                    <%= error.city.msg %> </div>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success my-2"><i class="fas fa-database"
                                style="margin-right: 10px;"></i>Submit</button>
                        <a href="/list" class="btn btn-danger mr-2"><i class="fas fa-street-view"></i> Cancel</a>

                </form>
            </div>
        </div>
    </div>

    <!-- End COde HERE -->
    <%- include('../paritals/foot.ejs') %>